@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-bg {
  /* width: 361px; */
  position: relative;
}
.linear:hover::after {
  background: linear-gradient(
    90deg,
    #02b9ec 28.36%,
    #03c6c2 22.86%,
    #08d586 23.33%,
    #44bcff -0.55%,
    #02b9ec 1.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 330px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  content: "";
  position: absolute;
  inset: 17.2em;
  top: 30px;
  left: 12px;
  transition-duration: 1s !important;
  transition: 1s !important;
}

.bubble::before {
  margin-top: 60px;
  content: "";
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #e9fbff;
  height: 70%;
}
