@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
}

.linear-bg {
  /* width: 361px; */
  position: relative;
}
.linear:hover::after {
  background: linear-gradient(
    90deg,
    #02b9ec 28.36%,
    #03c6c2 22.86%,
    #08d586 23.33%,
    #44bcff -0.55%,
    #02b9ec 1.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 330px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  content: "";
  position: absolute;
  inset: 17.2em;
  top: 30px;
  left: 12px;
  transition-duration: 1s !important;
  transition: 1s !important;
}
.bubbling::before {
  margin-top: -60px;
  content: "";
  border-top-left-radius: 100% 80%;
  border-top-right-radius: 100% 80%;
  position: absolute;
  /* bottom: 0; */
  /* top: 0; */
  z-index: -1;
  width: 100%;
  background-color: #e9fbff;
  /* max-height: 100%; */
  height: 400px !important;
}

.bubble::before {
  margin-top: 60px;
  content: "";
  border-bottom-left-radius: 60% 80%;
  border-bottom-right-radius: 60% 80%;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #e9fbff;
  /* max-height: 100%; */
  height: 500px !important;
}

@media screen and (max-width: 480px) {
  .bubble::before {
    /* margin-top: 60px; */
    content: "";
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #e9fbff;
    height: 610px !important;
  }
}
@media screen and (max-width: 768px) {
  .bubble::before {
    margin-top: 60px;
    content: "";
    border-bottom-left-radius: 80% 60%;
    border-bottom-right-radius: 80% 60%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #e9fbff;
    height: 450px !important;
  }
}
